/* 

Black Box - CSS File - CSS File

USE THIS STYLE SHEET FOR SLIDER HOME PAGE

*/

#slideflash{height:378px; margin:0 auto; width:918px; border:solid 1px #fff}
#slideshowHolder{ z-index:100 !important}
.ft-title{width:898px; padding:10px; position:relative}
* html .ft-title{padding:10px; bottom:-1px !important; position:relative}/* ie 6 only */

/*** FRONT PAGE SLIDER ALT2***/

/* Easy Slider */
#slides_container{height:400px; position:absolute; width:940px;  background-image:url(../images/bg_slides_container.gif); background-repeat:no-repeat; z-index:20; top:170px;}

#slider{ position:relative;  margin:0px auto; width:918px; margin:0px 1px;  height:378px; overflow:hidden;}
	
#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider li{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:918px;
	height:380px;
	overflow:hidden;
	margin:0px;
	padding:0px 0px 0px 0px;
	
}


#prevBtn, #nextBtn{ 
	display:block;
	width:38px;
	height:70px;
	position:relative; 
	
	z-index:30;
	
}
#prevBtn{left:10px; top:-235px;}	
#nextBtn{left:898px; top:-305px;}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:38px;
	height:70px;
	background:url(../images/slide-prev.png) no-repeat 0 0;
	cursor:pointer;
	
	}
#nextBtn a{ 
	background:url(../images/slide-next.png) no-repeat 0 0;	
	}
/*** END OF FRONT PAGE SLIDER ***/